{% extends "base.html" %} 

{% block content %}
<h1>Welcome to cantkeepup app</h1>

<h2>Goal of the app</h2>
<p>
The target of the app is to make the user issue commands from his browser
address bar. Commands like 's keywords' which will google for keywords,
'shorten url' which returns a shortened url, or 'ocvs keywords' which will 
search in the codebase of OpenCV on github.

Currently there is a set of global commands that can be used by everyone, and
in order to create your own commands you have to register first and then from the dashboard you can add your commands.
</p>
<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/epEhn87cOEg" allowfullscreen></iframe>
</div>
<h2>How to install</h2>
<h4>Chrome</h4>
<p>
Goto <code>settings</code> then under the <code>search</code> section press <code>Manage search engines</code> now we will add cantkeepup here, scroll down until you find 3 empty boxes. In the first box <code>Add a new search engine</code> type <code>cantkeepup</code>. In the second box <code>Keyword</code> type <code>cantkeepup</code>. In the last box <code>URL with %s in place of query</code> type <code>http://cantkeepup.herokuapp.com/?q=%s</code>. Then press enter, and make it the default one by pressing the <code>Make default</code> button that appears when you hover over it.
</p>
<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FAgdbypcmcM" allowfullscreen></iframe>
</div>
<h4>Firefox</h4>
<p>
To be added.
</p>
<h4>Opera</h4>
<p>
To be added.
</p>
<h4>Safari</h4>
<p>
To be added.
</p>
<h4>Microsoft Edge</h4>
<p>
To be added.
</p>
<h4>Internet Explorer</h4>
<p>
Well, Good Luck.
</p>
{% endblock %}
