{% extends "base.html" %} 

{% block content %}

<h1>Dashboard</h1>
<h3>Global Commands</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Command ID</th>
			<th>Name</th>
			<th>URL</th>
		</tr>
	</thead>
	<tbody>
		{% for command in global_commands %}
		<tr>
			<td>{{ command.cmd_id }}</td>
			<td>{{ command.name }}</td>
			<td>{{ command.url }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h3>User Commands</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Command ID</th>
			<th>Name</th>
			<th>URL</th>
		</tr>
	</thead>
	<tbody>
		{% for command in user_commands %}
		<tr>
			<td>{{ command.cmd_id }}</td>
			<td>{{ command.name }}</td>
			<td>{{ command.url }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<p>
	<a href="/dashboard/addcommand">Add New Command</a>
</p>
{% endblock %}