<!DOCTYPE html>
<html>
	<head>
		<title>Cant Keep Up</title>
		<meta name="viewport" content="width=device-wdith, initial-scale=1.0">
		<link href="{{ url_for('static', filename='bootstrap.min.css') }}"
				rel="stylesheet">
	</head>
	<body>
		<div>
			{% if current_user.is_authenticated %}
				<p align='right'> 
					Hi {{ current_user.firstname }}!
					Click <a href="/logout">here</a> to logout.
				</p>
			{% else %}
				<p align='right'>
					Click <a href="/register">here</a> to register.
					Click <a href="/login">here</a> to login.
				</p>
			{% endif %}
		</div>
		<div class="container">
			<!-- child template -->
			{% block content %}{% endblock %}

			<!-- errors -->
			{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }} </p>
			{% endif %}

			<!-- messages -->
			{% for message in get_flashed_messages() %}
				{{ message }}
			{% endfor %}
		</div>
	</body>
</html>