<!DOCTYPE html>
<html>
	<head>
		<title>Cant Keep Up</title>
		<meta name="viewport" content="width=device-wdith, initial-scale=1.0" />
 		<link href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
		<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}"></script>

		<link type="text/css" rel="stylesheet" href="{{ url_for('bower.static', filename='js-grid/dist/jsgrid.min.css') }}"  />
		<link type="text/css" rel="stylesheet" href="{{ url_for('bower.static', filename='js-grid/dist/jsgrid-theme.min.css') }}"  />
 
		<script type="text/javascript" src="{{ url_for('bower.static', filename='js-grid/dist/jsgrid.min.js') }}"></script>
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
	</head>
	<body>
		<div>
			{% if current_user.is_authenticated %}
				<p align='right'> 
					Hi {{ current_user.firstname }}!
					<a href="/dashboard">Dashboard</a>
					<a href="/logout">Logout</a>
				</p>
			{% else %}
				<p align='right'>
					<a href="/login">Login</a>
					<a href="/register">Register</a>
				</p>
			{% endif %}
		</div>
		<div class="container">
			<!-- messages -->
			{% for message in get_flashed_messages() %}
				{{ message }}
			{% endfor %}

			<!-- child template -->
			{% block content %}{% endblock %}

			<!-- errors -->
			{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }} </p>
			{% endif %}
		</div>
	    <div id="footer" align='center'>
	        {% block footer %}
	        &copy; Copyright 2015 by <a href="https://github.com/ghooo">ghooo</a> and <a href="https://github.com/omarayad1">omarayad1</a>.
	        {% endblock %}
	    </div>	
    </body>
</html>
